body{
    background-color: rgb(215, 215, 238);

}
body .container{
    width: 1300px;
    padding: 7px;
    margin: 0 auto;
    background-color: rgb(2, 2, 3);
    
}

header{
    background-color: rgb(6, 6, 31);
    
    padding: 5px;
    border-radius: 30px 30px 0px 0px;
}
header .headtitle{
    width: 100%;
    overflow: hidden;
    height: 150px;

}
header .headtitle .thetitle{
    float: right;
    width: 80%;

}
header .headtitle .thetitle h1{
    text-align: center;
    font-size: 70px;
    line-height: 20px;
    letter-spacing: 10px;
    position: relative;
    top: 40px;
    text-shadow: 5px 5px 3px rgb(47, 47, 156);
    animation: h1color 1.5s ease-in-out infinite;
    transition: all 1.5s ease-in-out;
}
@keyframes h1color {
    0% {
        color: rgb(208, 255, 1);

    }
    50% {
        color: rgb(250, 255, 253)  ;
    }
    100%{
        color: darkred;
    }
}
header .headtitle .logo{
    float: left;
    width: 20%;
    height: 200px;
    position: relative;
    top: 15px;
    left: 60px;

}
header .headtitle .logo img{
    width: 135px;
    height: 135px;
    animation: logoimg 1.5s ease-in-out infinite;
    transition: all .5s ease-in-out ;
}
@keyframes logoimg {
    0%,100% {
        transform: rotateY(0deg);

    }
    50% {
        transform: rotateY(180deg);
    }
}


header nav{
    overflow: hidden;
    height: 70px;
}
header nav ul{
    list-style: none;
    float: left;
    margin:  10px;
    position: relative;
    top: 0px;
    right: 35px;
    font-size: 25px;

    
    
}
header nav ul li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: rgb(3, 3, 61);
    
    text-decoration: none;
    

}
header nav ul li:hover{
    background-color: violet;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(226, 232, 236);
}
header nav form{
    float: right;
    margin-left: 200px;
    position: relative;
    bottom: 60px ;
    color: white;
    
}
header nav form span{
    font-size: 13px;
}
header nav form fieldset{
    font-size: 10px;
    
}
/*main*/

main{
    overflow: hidden;
}
main .maincontainer{
    float: left;
    width: 69.5%;
    background-color: rgb(91, 11, 182);
    height: 100%;
    overflow: hidden;
}
main .maincontainer .article1{
    width: 95%;
    padding: 10px;
    overflow: hidden;
    border: 3px solid rgb(55, 7, 65);
    border-top:none ;
}

main .maincontainer .article1 img{
    float: left;
    width: 450px;
    height: 280px;
    margin: 20px;
    position: relative;
    right: 15px;
    z-index: 2;
    transition: all .7s ease-in-out;
    border-radius: 30px;

}
main .maincontainer .article1 img:hover{
    transform: scale(.8);
}
main .maincontainer .article1 h1{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 900;
}
main .maincontainer .article1 p{
    position: relative;
    left: 8px;
    z-index: 1;
}
main .maincontainer .ar2{
    margin: 0 auto;

}
main .maincontainer .article2{
    width: 31%;
    border: 2px solid #000;
    float: left;
    margin: 5px auto;
    height: 200px;
    padding: 5px;
    background-color: rgb(5, 25, 90);



}
main .maincontainer .article2 h5{
    font-size: 20px;
    text-align: center;
    color: yellowgreen;
}
main .maincontainer .article2 p{
    text-align: center;
    color: thistle;
}

main aside{
    float: right;
    width: 28%;
    height: 1590px;
    background-color: rgb(29, 3, 63);
    padding: 15px;
}
main aside h2{
font-size: 35px;
text-align: center;
color: white;
}
main aside ul{
    list-style: none;
    font-size: 30px;
    font-weight: 700;
    color: rgb(156, 241, 76);

}
main aside ul li{
    font-size: 25px;
    padding: 5px;
    color: rgb(224, 185, 111);
    text-decoration: none;

}
main aside ul li:hover{
    background-color: violet;

}
main aside ul li a{
    text-decoration: none;
    color: wheat;
    font-size: 22px;
}









/*main*/
/*footer*/
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  footer{
  }
  footer .aboutus{
      background-color: rgb(116, 99, 212);
      padding: 10px;
      border: 3px solid #000;
  }
  footer .aboutus span{
      font-size: 25px;
      font-weight: 600;
      text-align: center;
  }
  footer .aboutus .about{
      text-decoration: none;
      color: #000;
      font-size: 25px;
      margin: 5px;
      position: relative;
      left: 80px;
      font-weight: 650;
  }
  footer .aboutus .about:hover{
    background-color: violet;
  }
  footer .aboutus .feed{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    margin: 5px;
    position: relative;
      left: 200px;
      font-weight: 650;

}
footer .aboutus .feed:hover{
    background-color: violet;

}
footer .copyrights {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    background-color: rgb(6, 6, 31);
    color: wheat;
    border-radius:0px 0px 20px 20px;


}